<%= form_for(@product, remote: true, html: {role: :form}) do |form| %>

<% if @product.errors.any? %>
   <div id="error_explanation">
     <h5>
       <%= pluralize(@product.errors.count, "error") %> prohibited
       this article from being saved:
     </h5>
     <ul>
       <% @product.errors.full_messages.each do |msg| %>
         <li style="color:red;"><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

         <div class="form-group">
           <%= form.label :'Product Name', class: 'control-label' %><br>
           <%= form.text_field :name, class: 'form-control',placeholder: 'Please type Product Name' %>
           <span class="help-block"></span>
         </div>

         <div class="form-group">
          <label for="comment">Product Description</label>
          <textarea placeholder="Please type Product Description" name="product[description]" class="form-control" rows="5" id="product_description">
            <%= @product.description %>
          </textarea>
        </div>

         <div class="form-group">
           <%= form.label :'Jira Link', class: 'control-label' %><br>
           <%= form.text_field :jira, class: 'form-control', placeholder: 'Please type Jira Link' %>
           <span class="help-block"></span>
         </div>

        <div class="form-group">
          <%= form.label :GitlabLink, class: 'control-label' %><br>
          <%= form.text_field :gitlab, class: 'form-control', placeholder: 'Please type Github/Gitlab Link' %>
          <span class="help-block"></span>
        </div>

     <div class="field">
      <label for="product_Status">Product Status</label><br />
      <% if @product.status == "false" %>
          <label for="product_active_active">active</label>
          <input type="radio" value="true" name="product[status]" id="product_status_true" />
          <label for="product_maintenace_maintenance">maintenace</label>
          <input type="radio" value="false" checked="checked" name="product[status]" id="product_status_false" />
          <% else %>
          <label for="product_active_active">active</label>
          <input type="radio" value="true" checked="checked" name="product[status]" id="product_status_true" />
          <label for="product_maintenace_maintenance">maintenace</label>
          <input type="radio" value="false" name="product[status]" id="product_status_false" />
          <% end %>
    </div></br>


    <%= form.submit  @product.new_record? ? "Create Product" : "Update Product", :class => "tjr-btn tjr-btn--primary" %>


<!-- <a href="/products">bbback </a> -->

<% end %>
